
<div>
    <div class="bg_color">
        <h1 data-aos="fade-down">Ciencia Ciudadana</h1>
    </div>
    
    
    <div class="mision">
        
        <div class="mision2" data-aos="fade-right">
            <h3>Nuestra misión</h3>
            Acercar y empoderar a la ciudadanía generando herramientas que inciten el conocimiento del monitoreo de la calidad del aire 
            por medio de tecnologías de bajo costo, incentivando así, un interés científico y ambiental.
            
            
        </div>
        <div class="mision1" data-aos="fade-left">
            <img src="/imgs/Montaje_Sensores.jpeg">
           </div> 

    </div>
    <!--
    <div class="panel_about">
        
        <div class="panel_about a1" data-aos="fade-left">
            <h3>Progreso y contaminación</h3>
            El recurso aire permite que la vida prospere, sin embargo, el avance industrial en ciudades grandes como Bogotá, ha traido consigo que los niveles 
            de contaminación incrementen rápidamente, por lo que la salud pública se ve en riesgo ante la exposición de múltiples
            contaminantes
        </div>
        
        <div class="panel_about a2" data-aos="fade-right"><img src="/imgs/bogota-about.jpg"></div>
    </div>
-->
    <h2 style="margin: 50px 0px 20px 0px; text-align:center;" data-aos="fade-down">Calidad de Aire</h2>

    <div class="container-slider" data-aos="fade-down">
        <div class="slider" id="slider">
            <div class="slider__section">
                <img src="/imgs/1.png" alt="" class="slider__img">
                </div>
            <div class="slider__section">
                <img src="/imgs/2.png" alt="" class="slider__img">
                </div>
            <div class="slider__section">
                <img src="/imgs/3.png" alt="" class="slider__img">
                </div>
            <div class="slider__section">
                <img src="/imgs/4.png" alt="" class="slider__img">
                </div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right"> &#62; </div>
        <div class="slider__btn slider__btn--left" id="btn-left">  &#60; </div>
    </div>

    <h2 style="margin: 70px 0px 20px 0px; text-align:center;" data-aos="fade-down">Tecnología al alcance de todos</h2>

    <div class="container-slider1" data-aos="fade-down">
        <div class="slider1" id="slider1">
            <div class="slider__section1">
                <img src="/imgs/5.png" alt="" class="slider__img1">
                </div>
            <div class="slider__section1">
                <img src="/imgs/6.png" alt="" class="slider__img1">
                </div>
            <div class="slider__section1">
                <img src="/imgs/7.png" alt="" class="slider__img1">
                </div>
            <div class="slider__section1">
                <img src="/imgs/8.png" alt="" class="slider__img1">
                </div>
        </div>
        <div class="slider__btn slider__btn--right1" id="btn-right1"> &#62; </div>
        <div class="slider__btn slider__btn--left1" id="btn-left1">  &#60; </div>
    </div>



    <h3 style="text-align: center; margin-top:50px;" data-aos="fade-down">Un convenio entre:</h3>
    
    <div class ="logosconvenio">
        <div class="log1" data-aos="flip-left">
            <img src="/imgs/logo-eco1.png">
        </div >
        <div class="log2" data-aos="flip-right"><img src="/imgs/logo.png"></div>
    </div>
    
    <h3 style="text-align: center;margin-top:50px;" data-aos="fade-down">Con el apoyo de los semilleros de investigación:</h3>
    <div class="logosconvenio" >
        <div class="log1" data-aos="flip-left">
            <img src="/imgs/clima.png">
        </div >
        <div class="log2" data-aos="flip-right">
            <img src="/imgs/avarc.png">
        </div>
    </div>

</div>


<!--
<div class="card mb-3" style="padding-bottom: 20px; margin: 20px;">
    <div class="card-body">
        <h3 style="text-align: center;">Tecnologías de bajo costo para la medición y gobernanza de la calidad del aire en Bogotá - Colombia</h3>
        <hr>
        <h5 class="card-title">Unisalle y Ecopetrol lideran proyecto de medición de calidad del aire</h5>
        <p class="card-text" style="text-align: justify;">
            El desarrollo de esta aplicación web, se origina gracias a las tecnologías de bajo costo (TBC) para evaluar la calidad del aire ya que, se han masificado en los últimos años, permitiendo
            un mayor cubrimiento espacial que el que ofrecen las redes robustas de monitoreo atmosférico, un empoderamiento y acercamiento por
            parte de la ciudadanía. Con el propósito de evaluar diferentes TBC, la Universidad de La Salle y Ecopetrol unieron
            esfuerzos recientemente y firmaron un convenio de colaboración.
            <br>
            <br>
            En el marco de este convenio, se evalúa en condiciones controladas y en campo sensores de bajo costo (SBC) , para lo cual se
            cuenta con equipos de referencia. Adicionalmente, se estudian los protocolos de comunicación, visualización y la forma
            cómo esta información es recibida e interpretada por la comunidad. El Colegio de La Salle en la localidad de Usaquén y
            la estación de bomberos de la localidad de Fontibón han sido seleccionados como puntos estratégicos para este proyecto.
            <br>
            <br>
            Esta investigación ha vinculado estudiantes de Unisalle, quienes se forman como investigadores, y participan activamente
            en la construcción de los sensores, su configuración, instalación y demás características. También en temas de
            apropiación a través de las redes sociales.
            <br>
            <br>
            Para mayor información del proyecto invitamos a toda la comunidad a seguir las cuentas, Facebook: @ClimaSBC /
            Tecnologías de bajo costo para medición y gobernanza del aire, Instagram: @Clima_uls,Twitter: @SBC_uls por redes
            sociales y descargar el app en Play Store Aire Ciudadano.
            <br>
            <p><a href="https://www.facebook.com/ClimaSBC" target="_BLANCK"><b>Facebook</b> <i class="fab fa-facebook-f"></i></a>
            </p>
            <p><a href="https://www.instagram.com/clima_uls/?hl=es" target="_BLANCK"><b>Instagram</b> <i
                        class="fab fa-instagram"></i></a></p>
            <p><a href="https://twitter.com/SBC_uls" target="_BLANCK"><b>Twitter</b> <i class="fab fa-twitter"></i></a></p>
        </p>
        {{!-- <h5 class="card-title">Aire Ciudadano</h5>
        <p class="card-text" style="text-align: justify;">Es una aplicación web desarrollada para el consumo de apis las cuales alojan datos e
            información sobre
            sensores de bajo costo en tiempo real, de modo que, mediante ésta aplicación se podrá ver la información
            y datos en tiempo real de dichos sensores, además de almacenarlos en una base de datos en la nube
            (Firebase).
        </p> --}}
        <h5>Convenio de investigación</h5>
        <p class="card-text" style="text-align: justify;">
            Ecopetrol y la Universidad de La Salle han firmado un convenio de colaboración, con el fin de estudiar tecnologías de bajo costo para el monitoreo de la calidad del aire y su contexto de aplicación. Este proyecto permitirá identificar tecnologías costo-eficientes para el estudio del medioambiente, el fortalecimiento de capacidades locales y la apropiación social del conocimiento.
        </p>
    </div>
    <div class="container-img-about">
        {{!-- <div class="img-about">
            <img src="/imgs/gobernanza.jpg" class="card-img-top" alt="La Salle" >
        </div> --}}
        <div class="img-about">
            <img src="/imgs/lideran.png" class="card-img-bottom" alt="La Salle">
        </div>
    </div>
</div>-->
<br>
<script async type="module" src="js/slider.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1000,
    anchorPlacement: 'top-center',
  });
</script>