<div class="container-lat">
    <input type="checkbox" id="btn-mas">
    <div class="marcas-sensores">
        <a href="/airlink">Airlink</a>
        <a href="/clarity2">Clarity</a>
        <a href="/eva2">EVA</a>
        <a href="/modulair-pm">ModulAir</a>
        <a href="/nuboair">NuboAir</a>
        <a href="/purpleair">PurpleAir</a>

    </div>
    <div class="btn-mas">
        <label for="btn-mas" class="fas fa-plus"></label>
    </div>
</div>
<h2 style="margin: 0 0 0 30px;"><b>Sensor Airlink</b></h2>
<div class="sensor_explain">
    <div class="imagen_sensor">
        <img src="../imgs/airlink-lab.png">
    </div>
    <div class="explain">El sensor Airlink es de un tamaño pequeño en comparación
        a las marcas tradicionales. Cuenta con una cubierta plástica que 
        protege al sensor de factores exteriores como la lluvia. Brinda mediciones de
        PM<sub>2.5</sub>, PM<sub>1</sub> y PM<sub>10</sub>.
        <br>
        <br>
        Si quieres ver las otras marcas disponibles, haz clic en el botón +.
    </div>

</div>

<div class="dash_title">
    <h2 class="sensor-title"><b>Dashboard Airlink</b></h2>
    <div>
        <div>
            Última medición:
        </div>

        <div id="date">-
        </div>

        <div id="hour">-</div>

    </div>

</div>

<div class="Data_Download">
    <div class="graph_and_data">
        <div class="data">
            <div class="data_data1">
                <h6>PM<sub>1</sub></h6>
                <h6 id="pm1">-</h6>
            </div>
            <div class="data_data1">
                <h6>PM<sub>2.5</sub></h6>
                <h6 id="pm25">-</h6>
            </div>
            <div class="data_data1">
                <h6>PM<sub>10</sub></h6>
                <h6 id="pm10">-</h6>
            </div>

            
        </div>

        <div class="graph">
            <div class="comBox-container">
                <select name="measures" class="select-measures">
                    <option selected>Escoja una opción</option>
                    <option value="0">PM <sub>2.5</sub> </option>
                    <option value="1">PM <sub>1</sub> </option>
                    <option value="2">PM <sub>10</sub> </option>
                    <option value="3">Temperatura interna</option>
                    <option value="4">RH interna</option>
                </select>
            </div>
            <canvas id="myChartModulair" style="max-height:fit-content;"></canvas>
        </div>
    </div>

    <div class="sensorsInfo">
        <div class="sensorsInfo_Sensor">
            <h6><b>Información del sensor</b></h6>
            <div><b id="temp">-</b></div>
            <div class="sensors_data1">Temperatura interna actual</div>

            <div><b id="rh">-</b></div>
            <div class="sensors_data1">Humedad relativa interna actual</div>

            <div><b id="device">-</b></div>
            <div class="sensors_data1">ID dispositivo</div>

            <div><b id="maker">-</b></div>
            <div class="sensors_data1">Fabricante</div>

            <div><b id="deviceName">-</b></div>
            <div class="sensors_data1">Modelo</div>

            <div><b id="comunication">-</b></div>
            <div class="sensors_data1">Comunicación</div>
        </div>

        <div class="divForm" >
            <h6><b>Reporte de mediciones</b></h6>
            <form id="formExport" >
                <h6>Seleccione la fecha inicial desde donde quiere descargar los datos</h6>
                <input type="date" name="date1" id="date1" required>
                <input type="submit" id="btnExport" value="Exportar datos" />
            </form>
        </div>
    </div>
</div>


<!--
<div class="divForm" >
    <form id="formExport" >
        <label><b>Seleccione la fecha inicial desde donde quiere descargar los datos:</b></label></br>
        <input type="date" name="date1" id="date1" required>
        <input type="submit" id="btnExport" value="Exportar datos" />
    </form>
</div>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js" integrity="sha512-ZfFfcp0ll1jVjeG5e7uPH1hwUyeoBUVAb3xRJpqBsH90jVegaYKv5nGOhGnUYxZg/kbYpl6EWVGvmWrbV32L9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="module" src="/js/airlink.js"></script>
