<h2>Complete the route for api request ¯\_(ツ)_/¯</h2>
<ul>
    <p>Options:</p>
    <li>Get data modulair: /api/modulairpm</li>
    <li>Get data clarity: /api/clarity</li>
    <li>Get graph modulair: /api/graph-modulairpm</li>
    <li>Get graph clarity: /api/graph-clarity</li>
</ul>