<div class="container-lat">
<input type="checkbox" id="btn-mas">
<div class="btn-mas">
    <label for="btn-mas" style="font-family: 'Poppins', sans-serif; cursor:pointer;">+<br>E<br>Q<br>U<br>I<br>P<br>O<br>S</label>
</div>


<div class="container-menu-lat">
    <div class="cont-menu">
        <nav>
            <a href="/airlink">Airlink</a>
            <a href="/calidair1">CalidAir PM</a>
            <a href="/calidairgases">CalidAir PM + Gases</a>
            <a href="/clarity2">Clarity</a>
            <a href="/eva2">EVA</a>
            <a href="/modulair-pm2">ModulAir</a>
            <a href="/purpleair">PurpleAir</a>
        </nav>
        <label for="btn-mas" class="fas fa-times"></label>
    </div>
</div>
</div>
<h2 style="margin: 0px 0px 0px 30px;"><b>Sensor CalidAir PM</b></h2>
<div class="sensor_explain">
    
    <div class="imagen_sensor_modul">
        <img src="../imgs/calidair.png">
    </div>
    <div class="explain">El equipo CalidAir PM permite obtener mediciones de material particulado (PM) 
        en diferentes fracciones (PM<sub>1</sub>, PM<sub>2.5</sub> y PM<sub>10</sub>) además de otorgar mediciones de variables meteorológicas. 
        Por su valor pertenece a los sensores gama baja. 
        Este equipo fue construido en el semillero AVARC de la Universidad de La Salle.
        <br>
        <br>
        Si quieres ver las otras marcas disponibles, haz clic en el botón +.

        <div class="selectEVA">
    <div>
    Seleccione el sensor: 
    </div>

    <select onchange="window.location=this.options[this.selectedIndex].value">
        <option selected>Escoja una opción</option>
        <option value="/calidair1">CalidAir 1</option>
        <option value="/calidair2">CalidAir 2</option>
        <option value="/calidair3">CalidAir 3*</option>
        <option value="/calidair4">CalidAir 4*</option>

    </select>
    

    <div style="opacity: 0.8; font-size: 12px;">*Equipos ubicados en la ciudad de Bucaramanga.</div>
</div>
    </div>

</div>
<div style="margin: 0 auto; justify-content:center;">
<div class="dash_title">
    <h2 id="sensor-title"><b>Dashboard CalidAir PM 1</b></h2>
    <div>
        <div>
            Última medición:
        </div>

        <div id="date">-
        </div>

        <div id="hour">-</div>

    </div>

</div>

<div class="Data_Download">
    <div class="graph_and_data">
        <div class="data">
            <div class="data_data1">
                <h6>PM<sub>1</sub></h6>
                <h6 id="pm1">-</h6>
            </div>
            <div class="data_data1">
                <h6>PM<sub>2.5</sub></h6>
                <h6 id="pm25">-</h6>
            </div>
            <div class="data_data1">
                <h6>PM<sub>10</sub></h6>
                <h6 id="pm10">-</h6>
            </div>

            
        </div>

        <div class="graph">
            <div class="comBox-container">
                <select name="measures" class="select-measures">
                    <option selected>Escoja una opción</option>
                    <option value="0">PM <sub>2.5</sub> </option>
                    <option value="1">PM <sub>1</sub> </option>
                    <option value="2">PM <sub>10</sub> </option>
                    <option value="3">Temperatura externa</option>
                    <option value="4">RH externa</option>
                </select>
            </div>
            <canvas id="myChartModulair" style="max-height:fit-content;"></canvas>
            </div>
    </div>

    <div class="sensorsInfo">
        <div class="sensorsInfo_Sensor">
            <h6><b>Información del sensor</b></h6>
            
            <div><b id="temp">CalidAir PM5E1C52104418</b></div>
            <div class="sensors_data1">Serial</div>

            <div><b id="rh">UniSalle</b></div>
            <div class="sensors_data1">Fabricante</div>

            <div><b id="idModulair">CalidAir PM</b></div>
            <div class="sensors_data1">Modelo</div>

            <div><b id="maker">WiFi</b></div>
            <div class="sensors_data1">Comunicación</div>

          
        </div>

        <div class="divForm" >
            <h6><b>Reporte de mediciones</b></h6>
            <form id="formExport" >
                <h6>Seleccione la fecha inicial desde donde quiere descargar los datos</h6>
                <input type="date" name="date1" id="date1" required>
                <input type="submit" id="btnExport" value="Exportar datos" />
            </form>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js" integrity="sha512-ZfFfcp0ll1jVjeG5e7uPH1hwUyeoBUVAb3xRJpqBsH90jVegaYKv5nGOhGnUYxZg/kbYpl6EWVGvmWrbV32L9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="module" src="/js/calidair1.js"></script>
