<div class="col-md-5 mx-auto mb-4">
    <div class="card">
        <div class="card-body">
            <h4>Contacto: Harvey Zapata</h4>
            <hr>
            <p>Ingeniero en Automatización</p>
            <p>Rol: Asistente de investigación</p>
            <p>Correo: hzapata42@unisalle.edu.co</p>
        </div>
    </div>
</div>
<div class="col-md-5 mx-auto mb-4">
    <div class="card">
        <div class="card-body">
            <h4>Contacto: Andrés Florez</h4>
            <hr>
            <p>Ingeniero en Automatización</p>
            <p>Rol: Asistente de investigación</p>
            <p>Correo: rflorez62@unisalle.edu.co</p>
        </div>
    </div>
</div>
<div class="col-md-5 mx-auto">
    <div class="card">
        <div class="card-body">
            <h4>Contacto: Duvan Betancourt</h4>
            <hr>
            <p>Ingeniero en Automatización</p>
            <p>Rol: Asesor</p>
            <p>Correo: dbetancourt69@unisalle.edu.co</p>
        </div>
    </div>
</div>
<br />
