<div class="card mb-3" style="padding-bottom: 20px; margin: 20px; height: 80vh;">
    <div class="card-body">
        <h3 style="text-align: justify;" >Proyecto de tecnologías de bajo costo para la medición y gobernanza de la calidad del aire en Bogotá.</h3>
        <hr>
        <h5>Nuestros contactos</h5>
        <p>Te puedes comunicar con nosotros mediante nuestras redes sociales o email.</p>
        <h6>Climauls</h6>
        <p><a href="https://www.facebook.com/ClimaSBC" target="_BLANCK" ><b>Facebook</b> <i class="fab fa-facebook-f"></i></a></p>
        <p><a href="https://www.instagram.com/clima_uls/?hl=es" target="_BLANCK" ><b>Instagram</b>  <i class="fab fa-instagram"></i></a></p>
        <p><a href="https://twitter.com/SBC_uls" target="_BLANCK" ><b>Twitter</b> <i class="fab fa-twitter"></i></a></p>
        <p><a href="mailto:clima@lasalle.edu.co" target="_BLANCK" ><b>Email</b> <i class="fas fa-envelope-square"></i></a></p>
    </div>
</div>
<br>