<section>
  <div class="PanelTitle">
    
    <div class="PanelTitle_image">
      <img src="/imgs/fondo1nature.jpg" />
      <div id="Panel1" data-aos="fade-right">
        <h1 class="titulo-main"><b> Ciencia ciudadana por medio de sensores para el monitoreo del aire.</b></h1>
    </div>
    
    </div>
  </div>

    <div class="panel_info">
        <h5 id="Titulo-Sensores" data-aos="fade-down">Implementación de tecnología de punta</h5>
        <div class="panel_info_parrafo" data-aos="fade-right"><p>Que brinda a la comunidad una alternativa costo-eficiente
          de medición de calidad del aire. Tecnología e innovación al alcance de todos.</p>
          
          <p>Por un aire más limpio para las futuras generaciones.</p>
          </div>

    </div>


  
    <h5 id="ubic_h5" data-aos="fade-down"><b>Información general del punto de monitoreo</b></h5>
    <div class="container-map-ica">
      
      <div id="map" data-aos="flip-right"></div>
      <div class="container-ica" data-aos="flip-left">
        <h2 id="id_tableICA"><b>Puntos de Corte del ICA</b></h2>
        <table class="ICA_table_color">
          <tr>
            <th>Rango</th>
            <th>Categoria</th>
            <th>PM<sub>2.5</sub> &microg/m<sup>3</sup> 24 horas</th>
          </tr>

          <tr>
            <td id="container-ica-bueno">Buena</td>
            <td id="Rango1">0-50</td>
            <td>0-12</td>
          </tr>

           <tr>
            <td id="container-ica-mod">Moderado</td>
            <td id="Rango2">51-100</td>
            <td>13-37</td>
          </tr>

           <tr>
            <td id="container-ica-ings">Dañino para G.S</td>
            <td id="Rango3">101-150</td>
            <td>38-55</td>
          </tr>

           <tr>
            <td id="container-ica-ins">Dañina</td>
            <td id="Rango4">151-200</td>
            <td>56-150</td>
          </tr>

           <tr>
            <td id="container-ica-mins">Muy dañina</td>
            <td id="Rango5">201-300</td>
            <td>151-250</td>
          </tr>

           <tr>
            <td id="container-ica-pel">Peligroso</td>
            <td id="Rango6">301-500</td>
            <td>251-500</td>
          </tr>

        </table>
        <h2 id="Info_ICA"><b>Si quieres más información, clic <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">aquí</a></b></h2>
        
      </div>
    </div>
<!--
<div class="panelSensores">
  <div class="panelSensores_1" data-aos="fade-right">
    <div>Variedad de equipos y diseños. Excelente calidad.</div>
    <div> Si quieres saber más sobre estos sensores, regístrate <a href="/signup">aquí</a> </div>
  </div>

  <div class="panelSensores_2" data-aos="fade-left">
    <img src="/imgs/Montaje_Sensores.jpeg">
  </div>

</div>
-->

</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Índice de calidad del aire ICA</h5>
      </div>
      <div class="modal-body">
        El Índice de calidad del aire (ICA) es un valor asociado a un código de colores para reportar el estado de la calidad del aire al que están asociados unos efectos generales que deben ser tenidos en cuenta para reducir la exposición a altas concentraciones de contaminantes por parte de la población" (IDEAM, s.f).
        <br>
        Rangos:
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #39c227;">Buena: </span>La
        contaminación atmosférica supone un riesgo bajo para la salud.
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #fcc438;" >Moderado: </span>Posibles síntomas respiratorios en grupos poblacionales sensibles.
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #EF8D22;">Insalubre para grupos
          sensibles: </span>las personas que pertenecen a grupos sensibles pueden experimentar efectos en su salud. Esto significa que se ven afectadas a niveles más bajos que el público en general. Por ejemplo, las personas que padecen de enfermedades pulmonares o coronarias.
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #f00; color: #fff;">Insalubre: </span>Todos los
        individuos pueden comenzar a
        experimentar efectos sobre la salud. Los grupos
        sensibles pueden experimentar efectos más
        graves para la salud
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #834187; color: #fff;">Muy insalubre: </span>Estado de alerta que significa que todos pueden experimentar efectos más graves para la salud.
        <br>
        <br>
        <span style="display: inline-block; color: #000; padding: 2px 5px; background-color: #754106; color: #fff;">Peligroso: </span>Advertencia sanitaria. Toda la población puede presentar efectos graves en la salud. 
        <br>
        <br>
        <a href="http://www.ideam.gov.co/documents/51310/527391/2.+Resoluci%C3%B3n+2254+de+2017+-+Niveles+Calidad+del+Aire..pdf/c22a285e-058e-42b6-aa88-2745fafad39f" target="_BLANK" >Si quieres saber más sobre la resolución...</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{{!-- <section class="section-sensors">
  <h3>Sensores disponibles:</h3>
  <div class="container-sensors">
    <div class="div-img-sensors">
        <img src="/imgs/modulairpm.jpeg" alt="ModulairPM"
          title="ModulairPM">
        <p>ModulairPM</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/modulairpm2.jpeg" alt="ModulairPM2"
          title="ModulairPM2">
        <p>ModulairPM2</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/clarity.jpeg"
          alt="Clarity" title="Clarity">
        <p>Clarity</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/nubo.jpeg"
          alt="NuboAir" title="NuboAir">
        <p>NuboAir</p>
    </div>
    <div class="div-img-sensors">
        <img src="/imgs/eva.jpeg"
          alt="Eva" title="Eva">
        <p>Eva</p>
    </div>
    <div class="div-img-sensors">
        <img
          src="/imgs/plantower.jpeg"
          alt="Plantower 1" title="Plantower 1">
        <p>Plantower</p>
    </div>
    <div class="div-img-sensors">
        <img
          src="/imgs/mhz-sensor.jpeg"
          alt="mhz" title="MHZ">
        <p>MHZ</p>
    </div>
  </div>
</section>
<br> --}}

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1000,
    anchorPlacement: 'top-center',
  });
</script>
<script async type="module" src="js/googleMaps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP4ipIhAWYl8PEuMcnsbBAMhlaq_F5L40"  ></script>
