{{!-- <section class="section-container" >
    <div class="sensores-container-img" >
        <img src="/imgs/Render.jpg" >
    </div>
</section> --}}
<section class="section">
    <h1 style="margin-left: 20px;" >Bienvenido {{user.name}}</h1>
    <h4 style="margin-left: 20px; opacity:0.8;" >Seleccione su sensor</h4>
    <div class="father">
        <div class="div-img">
            <a href="/airlink">
                <img src="/imgs/airlink.jpeg" alt="Airlink"
                    title="Airlink">
                Airlink
            </a>
        </div>
        <div class="div-img">
            <a href="/modulair-pm">
                <img src="/imgs/modulairpm.jpeg" alt="ModulairPM"
                    title="ModulairPM">
                ModulAir 1
            </a>
        </div>
        <div class="div-img">
            <a href="/modulair-pm2">
                <img src="/imgs/modulairpm2.jpeg" alt="ModulairPM2"
                    title="ModulairPM2">
                ModulAir 2
            </a>
        </div>
        <div class="div-img">
            <a href="/nuboair">
                <img src="/imgs/nubo.jpeg" alt="NuboAir"
                    title="NuboAir">
                NuboAir
            </a>
        </div>
        <div class="div-img">
            <a href="/clarity">
                <img src="/imgs/clarity.jpeg"
                    alt="Clarity" title="Clarity">
                Clarity 1
            </a>
        </div>
        <div class="div-img">
            <a href="/clarity2">
                <img src="/imgs/clarity.jpeg"
                    alt="Clarity2" title="Clarity2">
                Clarity 2
            </a>
        </div>
        <div class="div-img">
            <a href="/eva">
                <img src="/imgs/eva.jpeg"
                    alt="Eva" title="Eva">
                Eva 1
            </a>
        </div>
        <div class="div-img">
            <a href="/eva2">
                <img src="/imgs/eva.jpeg"
                    alt="Eva2" title="Eva2">
                Eva 2
            </a>
        </div>
        <div class="div-img">
            <a href="/purpleair">
                <img src="/imgs/purple.jpeg" alt="PurpleAir"
                    title="PurpleAir">
                PurpleAir
            </a>
        </div>
        <div class="div-img">
            
                <img src="/imgs/plantowers.jpeg"
                    alt="Plantower 1" title="Plantower 1">
                Plantower 1
            
        </div>
        <div class="div-img">
            
                <img src="/imgs/plantowers.jpeg"
                    alt="Plantower 2" title="Plantower 2">
                Plantower 2
            
        </div>
        <div class="div-img">
            
                <img src="/imgs/plantowers.jpeg"
                    alt="Plantower 3" title="Plantower 3">
                Plantower 3
            
        </div>
        <div class="div-img">
            
                <img src="/imgs/plantowers.jpeg"
                    alt="Plantower 4" title="Plantower 4">
                Plantower 4
           
        </div>
        
        <div class="div-img">
            
                <img src="/imgs/plantowers.jpeg"
                    alt="Plantower 5" title="Plantower 5">
                Plantower 5
            
        </div>
        {{!-- <div class="div-img">
            <a href="/mhz">
                <img src="/imgs/mhz-sensor.jpeg" alt="mhz" title="MHZ">
                MHZ
            </a>
        </div> --}}
    </div>
</section>


<script type="module" src="js/googleMaps.js"></script>
<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP4ipIhAWYl8PEuMcnsbBAMhlaq_F5L40">
  </script>
