.fixedNav  {
    position: fixed;
    width: 100%;
}
.tables-container {
    width: 30%;
}
.sensorData {
    margin: 50px 50px;
    text-align: center;
}
.sectionInfo {
    margin: 50px 50px;
    text-align: center;
}
.container-table {
    background-color: #014691;
    margin: auto;
    padding: 10px;
    border: 1px solid #014691;
    color: #fff;
    width: 100%;
}|
h2 {
    margin: 20px;
}

.theadModul {
    background-color: #fff;
}

.p-dates {
    display: block;
    text-align: right;
    margin: 10px;
    color: #000;
}
.select-measures {
    border-radius: 10px;
    padding: 5px;
}