<footer class="footer">
  <div class="footer-container">
    <div class="footer-row">
      <div class="footer-col">
        <h4>Aire Ciudadano</h4>
        <ul>
          <li><a href="/about">Sobre nosotros</a></li>
          <li><a href="/contact-clima">Quienes somos</a></li>
          {{!-- <li><a href="/contact">Desarrolladores</a></li> --}}
          <li><a href="/politics">Política de privacidad</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Síguenos</h4>
        <div class="footer-social-links">
          <p style="color: #fff;" >Climauls</p>
          <a href="https://www.facebook.com/ClimaSBC" target="_BLANCK" ><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/clima_uls/?hl=es" target="_BLANCK" ><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/SBC_uls" target="_BLANCK" ><i class="fab fa-twitter"></i></a>
        </div>
        {{!-- <div class="footer-social-links">
          <p style="color: #fff;">Universidad de La Salle</p>
          <a href="https://www.facebook.com/U.deLaSalle/" target="_BLANCK" ><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/unisallecol/" target="_BLANCK" ><i class="fab fa-instagram"></i></a>
          <a href="https://www.lasalle.edu.co/" target="_BLANCK" ><i class="fas fa-globe"></i></a>
        </div> --}}
      </div>
        <div class="container-imgs-footer">
          <img src="/imgs/clima.jpeg" alt="clima">
        </div>
        <div class="container-imgs-footer">
          <img src="/imgs/avarc.png" alt="avarc">
        </div>
    </div>
  </div>
</footer>
{{!-- <footer>
  <div class="footer-container">
    <ul class="ul-footer">
      <p>Desarrollador: </p>
      <li class="li-footer">&copy; Andrés Florez</li>
    </ul>
    <ul class="ul-footer">
      <li class="li-footer">&copy; Andrés Florez</li>
    </ul>
    <ul class="ul-footer">
      <li class="li-footer">&copy; Andrés Florez</li>
    </ul>
  </div>
</footer> --}}